{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'CSS/articles.css' %}" media="all">
<title>Article</title>
{% endblock %}

{% block content %}
<div class="article-page">
    <h1 class="heading-1">Articles</h1>
    <div class="article-container">
        {%for news in news.articles%}
            <article class="card">
                <img class="card-img-top" src="{{news.urlToImage}}" alt="{{news.source.name}}">
                <div class="card-body">
                    <div class="card-title">{{news.title}}</div>
                    <p class="card-text">{{news.description|truncatechars:150}}</p>
                    <div class="card-read-more">
                            <a href="{{news.url}}" target="_blank" class="card-more-link">Read More</a>
                    </div>
                </div>
            </article>
        {%endfor%}
    </div>
</div>
{% endblock %}

{% block footer %}
<nav class="navigation column">
                
    <a href="/" class="footer-link">Home</a>
    <a href="/Articles" class="footer-current">Articles</a>
    <a href="/Books" class="footer-link">Books</a>
    <a href="/Videos" class="footer-link">Videos</a>
   
</nav>
{% endblock %}





