{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'CSS/articles.css' %}" media="all">
<title>Article</title>
{% endblock %}

{% block content %}
<h1 class="heading-1">Articles page</h1>
    <div class="container">
        {%for news in news.articles%}
            <div class="card">
                <img class="card-img-top" src="{{news.urlToImage}}" alt="{{news.source.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{news.title}}</h5>
                    <p class="card-text">{{news.description|truncatechars:150}}</p>
                    <a href="{{news.url}}" target="_blank" class="btn btn-primary">Read More</a>
                </div>
            </div>
        {%endfor%}
    </div>
{% endblock %}

{% block footer %}
<nav class="navigation column">
                
    <a href="http://localhost:8000" class="footer-link">Home</a>
    <a href="http://localhost:8000/Articles" class="footer-current">Articles</a>
    <a href="http://localhost:8000/Books" class="footer-link">Books</a>
    <a href="http://localhost:8000/Videos" class="footer-link">Videos</a>
   
</nav>
{% endblock %}





