{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/reset.css'%}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/base.css' %}" media="all">
    {% block head %}{% endblock %}
</head>
<body>
    <header> 
        <ul class="navigation-bar">
            <li class='nav-logo'><img src="{% static 'images/stocks-logo2.png'%}" alt="logo"></li>
            <li class='nav-heading'><a href="http://localhost:8000">Stock</a></li>
            <li class="nav-search">
                <form method="POST" action='http://localhost:8000/search/'>
                    {% csrf_token %}
                    <input class="nav-search-input" name="search">
                    <button class="nav-search-btn">SEARCH</button>
                </form>
            </li>
            {% if user.is_authenticated %}
            <li> 
                Hello {{user.first_name}} 
            </li>
            <li class='sign'> 
                <a class="register" href="http://localhost:8000/Credentials/logout">LOGOUT</a>
            </li>
            {% else %}
            <li class='sign'> 
                <a class="register" href="Credentials/Register">REGISTER</a>
            </li>
            <li class='sign'>
                <a class="login" href="http://localhost:8000/Credentials/Login">LOGIN</a>
            </li>
            {% endif %} 
        </ul>
    </header>
    <div class="header-formatting"></div>
    {% block content %}
    {% endblock %}
    
    <footer>
        <div class="grid-container">
            {% block footer %}
            <nav class="navigation column">
                
                <a href="/" class="footer-current">Home</a>
                <a href="/Articles" class="footer-link">Articles</a>
                <a href="/Books" class="footer-link">Books</a>
                <a href="/Videos" class="footer-link">Videos</a>
               
            </nav>
            {% endblock %}
            <div class="developed_by">
                <span class="footer-subhead">Developed by</span>
                <a class="footer-link" href="https://www.linkedin.com/in/nikhil-soni-736561183/">Nikhil soni</a>
                & 
                <a class="footer-link" href="https://github.com/NishitHingu">Nishit hingu</a>
            </div>
        </div>
    </footer>

</body>

</html>