{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'CSS/books.css' %}" media="all">
<title>Books</title>
{% endblock %}
 
{% block content %}
<div class="books-page">
    <h1>Books</h1>
    <div class="wrapper">
        {%for book in books%}
            <article class="book-cards">
                <img src="/media/{{book.bImage}}" class="card-img" alt="book image"> 
                <div class="card-body-book">   
                    <div class="card-details">
                        <span class="card-title-book">
                            {{book.bTitle}}
                        </span>
                        <span class="card-text-book">Author : {{book.author}}</span>
                        <span class="card-text-book">{{book.bDescip|truncatechars:300}}</span>
                        <div class="download-details">
                            <a href="/media/{{book.book}}" class="card-download-link" download>
                                Download
                                <img src="{% static 'images/downloading.png' %}" class="download-icon" alt="icon">
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        {%endfor%}
    </div>
</div>
{% endblock %}

{% block footer %}
<nav class="navigation column">
                
    <a href="/" class="footer-link">Home</a>
    <a href="/Articles" class="footer-link">Articles</a>
    <a href="/Books" class="footer-current">Books</a>
    <a href="/Videos" class="footer-link">Videos</a>
   
</nav>
{% endblock %}