{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'CSS/books.css' %}" media="all">
<link rel="stylesheet" href="{% static 'CSS/articles.css' %}" media="all">
<title>Books</title>
{% endblock %}

{% block content %}
<div class="books-page">
    <h1>Books</h1>
    <div class="wrapper">
        {%for book in books%}
            <div class="card">
                <img src="/media/{{book.bImage}}" class="card-img-top" alt="book image"> 
                <div class="card-body">   
                    <span class="card-title">
                        {{book.bTitle}}
                    </span>
                    <span class="card-text">Book level = {{book.bPriority}}</span>
                    <span class="card-read-more">
                        <a href="/media/{{book.book}}" class="card-more-link" download>Download book</a>
                    </span>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{% endblock %}

{% block footer %}
<nav class="navigation column">
                
    <a href="http://localhost:8000" class="footer-link">Home</a>
    <a href="http://localhost:8000/Articles" class="footer-link">Articles</a>
    <a href="http://localhost:8000/Books" class="footer-current">Books</a>
    <a href="http://localhost:8000/Videos" class="footer-link">Videos</a>
   
</nav>
{% endblock %}