{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'CSS/home.css' %}" media="all">
<title>home</title>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="articles section-blocks">
            <a href="http://localhost:8000/Articles" >
                ARTICLES
            </a>
        </div>
        <div class="books section-blocks">
            <a href="http://localhost:8000/Books">
                BOOKS
            </a>
        </div>
        <div class="videos section-blocks">
            <a href="http://localhost:8000/Videos">
                VIDEOS
            </a>
        </div>
    </div>
</section>
{% endblock %}