{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'CSS/videos.css' %}" media="all">
<title>Videos</title>
{% endblock %}

{% block content %}
<div class="video-page">
    <h1>Videos</h1>
    <div class="video-container">
        {%for v in docs%}
            <div class="video-card">
                <div class="video-info">
                    <span class="video-title">{{v.vName}}</span>
                    
                </div>
                <span class="video-priority">{{v.vCreator}} </span>
                <span class="video-priority">{{v.vDescip }} </span>
                <div class="video">{% video v.vUrl 'medium' %}</div>            
            </div>
        {%endfor%}
    </div>
</div>
<script src="{% static 'scripts/videos.js' %}"></script>
{% endblock %}

{% block footer %}
<nav class="navigation column">
                
    <a href="/" class="footer-link">Home</a>
    <a href="/Articles" class="footer-link">Articles</a>
    <a href="/Books" class="footer-link">Books</a>
    <a href="/Videos" class="footer-current">Videos</a>
   
</nav>
{% endblock %}





