{% extends 'base.html' %}

{%block title%}Videos{%endblock%}

{% block content %}
<h1> This is Videos Page </h1> 
<div style="text-align: center;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZwKhufmMxko" frameborder="0" allowfullscreen></iframe><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dxGvjrdPOY0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dR8bxrnW8rY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
</div>


{% endblock %}