/* Cover */
.books-page{
    background-color: #242629;
}


/* Heading */
.heading-1{
    font-size:42px;
    color: #fffffe;
    text-align: center;
}

/* Main grid */
.article-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 2rem 5rem;
    grid-gap: 4rem;
}

/* Grid Element */
.card{
    padding: 1rem;
    display: grid;
    grid-template-rows: 13rem 1fr;
    background-color: #16161a;
    font-family: sans-serif;
    border: 3px;
}
.card:hover{
    box-shadow: 0 0 15px hsl(180,10%,30%);
}

.card-img-top{
    padding: 0.5rem 0.5rem;
    height: 12rem;
    width: 100%;
    margin-bottom: 1rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.card-title{
    font-size: 18px;
    font-weight: 700;
    color: #fffffe;
}
.card-text{
    margin: 0.5rem 0;
    font-size: 12px;
    color: #94a1b2;
}
.card-read-more{
    flex: 1;
    display: flex;
}
.card-more-link{
    align-self: flex-end;
    text-decoration: none;
    margin-top: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    color:#fffffe;
    background-color: var(--btn-bg);
}