body{
    display: flex;
    flex-direction: column;
}
header{
    position: fixed;
    top: 0;
    background-color: #181818;
    color: #ddd6d6;
    height: 3rem;
    width: 100vw;
    padding: 0.25rem 1rem;
    font-family: sans-serif;
}

header ul{
    list-style: none;
}

header ul li{
    text-decoration: none;
    margin: 0 0.5rem;
}
.navigation-bar{
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.nav-logo{
    width: 2rem;
    align-self: flex-start;
}
.nav-heading{
    font-size: 28px;
    color: #fffffe;
}
.nav-search{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.nav-search-input{
    width: 25rem;
    height: 1.75rem;
}
.nav-search-btn{
    height: 1.75rem;
    cursor: pointer;
    background-color: hsl(195, 70%, 60%);
    color: #181818;
    border-radius: 2px;
    border: transparent;
    cursor: pointer;
    box-shadow: 0 4px 6px hsl(0,0%,0%,.2);
}
header .sign{
    font-family: sans-serif;
    height: 1.75rem;
    padding: 5px 4px;
    vertical-align: baseline;
    cursor: pointer;
    background-color: hsl(195, 70%, 60%);
    color: #181818;
    border-radius: 2px;
    border: transparent;
    cursor: pointer;
    box-shadow: 0 4px 6px hsl(0,0%,0%,.2);
}
.sign a{
    color: #181818;
    font-size: 14px;
    text-decoration: none;
    
}
.header-formatting{
    height: 3rem;
    width: 100%;
}


/* FOOTER */
footer{
    background-color: #181818;
    color: #ddd6d6;
    line-height: 1.25;
}
footer .grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem ;  
    padding: 1rem 0;
}
.column{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    position: relative;
    margin-bottom: 1.5rem;
    width: 50%;

}
.navigation::after{
    content: '';
    background-color: #ddd6d6;
    position: absolute;
    top: 2rem;
    height: 1px;
    width: 100%;
}
.footer-current{
    color:#fffffe;
    font-weight: 600;
    font-size: 18px;
}

.footer-subhead{
    color: #ddd6d6;
    font-weight: 600;
}
.footer-link{
    text-decoration: none;
    color: #50c4cf;
}
.nav-grp{
    display: flex;
    flex-direction: column;
}
.nav-grp:first-child::after{
    content: '';
    background-color: #7782be;
    height: 5rem;
    width: 1px;
}
.developed_by{
    justify-content: center
}
footer a:hover{
    text-decoration: underline;
}