.books-page {
  background-color: var(--background-container);
}

h1 {
  font-size: 42px;
  color: #fffffe;
  text-align: center;
  margin-top: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	color: #fffffe;
  margin: 2rem 6rem;
}

.book-cards {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: var(--background-card);
  margin: 0rem 2rem 2rem 2rem;
  width: 100%;
}

.card-img {
  width: 10rem;
  height: 15rem;
}

.card-body-book {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items: flex-start;
	margin: 0.5rem 1rem 0.5rem 2rem;
}
.card-details {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-title-book {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 0.75rem;
}
.card-author-book {
  opacity: 0.8;
  font-size: 16px;
  margin-bottom: 0.5rem;
}
.card-text-book {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 0.5rem;
} 

.download-details {
  flex: 1;
  display: flex;
}
.card-download-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
	font-size: 16px;
	font-weight: 500;
	border-radius: 3px;
  color: #181818;
  background-color: var(--btn-bg);
  align-self: flex-end;
}
.card-download-link:hover {
	box-shadow: 0 0 10px hsl(180,10%,30%);
}

.download-icon {
	padding-left: 0.5rem;
	height: 0.8rem;
}
