/* SECTION */

section{
    background-image: url(https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-blocks{
    padding: 4em 4em;
    height: 12.5rem;
    width: 45rem;
    margin: 1.5rem;
    border: 1px solid rgb(0, 0, 0);
    transition: ease 0.2s;
    box-shadow: 0 4px 10px hsla(0, 60%, 90%, 0.3);
}
.section-blocks:hover{
    transform: scale(1.1);
    box-shadow: 0 15px 35px hsla(0, 60%, 90%, 0.3);
}
.section-blocks a{
    font-size: 32px;
    text-shadow:0 0 20px #181818,
                4px 0 10px #181818,
                -4px 0 10px #181818,
                0 4px 10px #181818,
                0 -4px 10px #181818;
    color: #fffffe;
    text-decoration: none;
}

.books{
    background: transparent url('https://images.pexels.com/photos/3944454/pexels-photo-3944454.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center;
    background-size: cover;
    background-position-y: -12rem;
    background-position-x: left;
}

/* /static/images/bg-books.jpg */

.articles{
    background: transparent url('https://images.pexels.com/photos/518543/pexels-photo-518543.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center;
    background-size: cover;
    background-position-y: -10rem;
}

.videos{
    background: transparent url('https://images.pexels.com/photos/274973/pexels-photo-274973.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center;
    background-size: cover;
    background-position-y: -12rem;
}